td.clase1 {
    text-align: right;
}

td.clase2 {
    border-bottom: 0px;
}

td {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

table.formulario {
    width: 80%;
    text-align: center;
}

table.rutinas1 {
    width: 100%;
    text-align: center;
}

img.rutina {
    width: 260px;
    height: 180px;
}

.clase3 {
    width: 75%;
    text-align: justify;
}

a:link {
    text-decoration: border;
    color: black;
}

a:visited {
    color: black;
}

img.gif {
    width: 250px;
    height: 250px;
}

.clase4 {
    text-align: justify;
    color: black;
    text-decoration: double;
}